body{
   margin: 0;
   padding: 0;
   background-image: url("resource/backHome.png");
   background-size:cover;

   background-repeat: no-repeat;
   font-size: medium;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* NAV BAR */
header {
   padding: 15px 15px;
   background-color: transparent;
   display: flex;
   justify-content:space-between;
}
header .navbar{
   padding: 0px 20px; 
   list-style-type: none;
   text-align: right;
   display: flex;
   font-size: 20px;
  
}
.LogoTipe{
   margin: 0 0;
   padding: 0 0;
   scale: 0.7 0.7;
}

.navselec{
   padding: 0px 20px; 
   text-decoration: none;
   color: #242B38;
}

/* HOME */


.joinBox{
   padding: 20px ;
   margin-right: 5%;
   margin-top: 7%;
   background-color:#FFFFFF;
   border: 0.2px transparent black;
   border-radius: 50px;
   display: inline-block;
   width: 340px;
   height: 260px;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

}
.joinBox h1{
   color: #242B38;
   font-size: 30px;
   padding:20px 30px;
   text-align: center;

}
.joinBox input[type=button]{
   margin: 20px 20px;
   padding: 15px 80px;
   text-align:center;
   background-color: #F5D00B;
   border: none;
   border-radius: 8px;
   font-weight: bold;
   cursor: pointer;
   
}

.color-sky{
   color:rgb(28, 127, 166);
}

.color-yellow{
   color:#d7b90b;
}

.cont1{
   display: flex;
   justify-self: start;
   justify-content:space-between;
   align-items: flex-start;
}
.cont1 img{
   padding: 0% 12%;
   width:64%;
   height: auto;
}

/* Contactanos */
.frase {
   margin-top: 120px;
   text-align: center;
   font-size: 28px;
}
.social p {
   font-size: 30px;
   font-weight: 700;
}
.contactanos p {
   
}

.contactanos .row .column{
   display: inline-block;
   width: 30%;
   vertical-align: middle;
}
.contactanos .social {
   align-items: center;
   text-align: center;
}
.linksredes i{
   margin: 5px 10px;
   font-size: 45px;
   color: black;
}


footer {
   background-color: #F3F3F4;
   padding: 10px 5%;
}

footer > div {
   display: inline-block;
   vertical-align: middle;
   width: 30%;
}
footer .logo { 
   text-align: left;
}
footer .derechos{
   text-align: center;
}

footer .terminos{
   text-align: end;
}



.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.question {
    font-size: 50px;
    text-align:center;
}

.person-image {
    max-width: 100%;
    height: 600px;
    width: 600px;
}
.list {
    text-align: justify;
    font-size: 30px;
    width: 60%;
}
